body {
  font-family: 'Dongle', sans-serif;
  height: 400px;
  width: 500px;
  background-color:rgb(255, 233, 199);
}

#logo {
  width: 40px;
}

img {
  width: 35px;
  height: 35px;
}

#Titre{
  display: flex;
  flex-direction: column;
  margin: 0px;
}

h1{
  text-align: center;
  font-size: 80px;
  color: rgb(105, 0, 44);
  margin: 5px;
}

h2{
  text-align: center;
  font-size: 45px;
  color: rgb(0, 0, 0);
  margin: 2px;
}



p {
  text-align: center;
  color: rgb(0, 0, 0);
  margin: auto;
}


/* Première option : surlignage des liens */

#Highlight{
  display: flex;
  flex-direction: row;
  font-size: 30px;
  color: black;
}
     
#Highlight p {
  background-color: rgb(49, 119, 250); 
  text-decoration: underline;
}


/* Deuxième option : page d'urgence */
   
#BlackAndWhite{
  display: flex;
  flex-direction: row;
  font-size: 30px;
}
  
#BlackAndWhite p {
  height: 30px; 
  color:white;
  background-color: black;
}

input {
  float: left;
  height: 50px;
  width: 20px;
}


/* Troisième option : lien vers autre extension */

#AddOn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  bottom: 0px;
}

#AddOn a {
  text-decoration: none;
}